@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
a
{
    text-decoration: none;
}
ul
{
    list-style: none;
}

@font-face 
{
    font-family: 'super-snack'; 
    src: url('super_snack/super_snack.ttf') format(truetype)
}

@keyframes wave 
{
    0% {
        color: rgb(255, 214, 255); 
    }
    25% {
        color: rgb(253, 206, 255); 
    }
    50% {
        color: rgb(177, 236, 254);
    }
    75% {
        color: rgb(216, 246, 255); 
    }
    100% {
        color: rgb(252, 215, 255); 
    }
}
@keyframes wave2 {
    0% {
        color: rgb(158, 112, 158);
    }
    25% {
        color: rgb(150, 104, 150);
    }
    50% {
        color: rgb(100, 130, 145);
    }
    75% {
        color: rgb(110, 140, 150);
    }
    100% {
        color: rgb(150, 115, 150);
    }
}



@keyframes scrollStars 
{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}
@keyframes bounce 
{
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

:root{
    --top-bar-light: white;
    --welcome-text-light: #ffffff;
    --juwa-text-light: rgb(254, 204, 219);
    --shu-text-light: rgb(177, 236, 254);
    --und-text-light: rgb(241, 241, 163);
    --background-light: url("./img/JuwaOverlayBOTTOM.png");
    --stars-light: url("./img/stars.png");
    --gradient-color-1: linear-gradient(to top, #f7f7f7, transparent);
    --gradient-color-2: linear-gradient(to top, rgb(255, 177, 188), rgba(248, 247, 247, 1));
    --gradient-color-3: linear-gradient(to bottom, rgb(255, 177, 188), rgba(248, 247, 247, 1));
    --lists-color-light: rgba(177, 236, 254, 1.0);
    --arrow-color-light: #ffb2ec;
    --blur-color-light: rgba(255, 255, 255, 0.5); 
    --top-button-light: rgb(255, 255, 255);
    --top-button2-light: #B1ECFE;
}

.dark_mode{
    --top-bar-light: rgb(138, 138, 138);
    --welcome-text-light: #000000;
    --juwa-text-light: rgb(182, 145, 156);
    --shu-text-light: rgb(117, 155, 167);
    --und-text-light: rgb(153, 153, 105);
    --background-light: url("./img/JuwaOverlayBOTTOMdark.png");
    --stars-light: url("./img/starsdark.png");
    --gradient-color-1: linear-gradient(to top, #5c4c5a, transparent);
    --gradient-color-2: linear-gradient(to top, rgb(155, 107, 113), #5c4c5a);
    --gradient-color-3: linear-gradient(to bottom, rgb(155, 107, 113), rgb(114, 111, 111));
    --lists-color-light: rgb(85, 112, 121);
    --arrow-color-light: #af78a1;
    --blur-color-light: #b6b6b638;
    --top-button-light: rgba(255, 255, 255, 0.5);
    --top-button2-light: #698c97;
}
.dark_mode .gallery-img.img1 {
    background-image: url("img/img1dark.jpg");
}


body
{
    user-select: none;
    min-height: 100vh;
    overflow-x: hidden;
    background-image: var(--background-light);
}
header
{
    position: absolute;
    background-color: var(--top-bar-light);
    top: 0;
    left: 0;
    width: 100%;
    padding: 27px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo
{
    position: relative;
    left: -30px;
}
header .logo-text
{
    font-size: 2.2em;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover
{
    background: rgba(177, 236, 254, 0.4);
    color: #2b1055;
}

.list
{
    display: flex;
    justify-content: space-between;   
}
.list-items a
{
    color: var(--lists-color-light);
    font-family: sans-serif;
    font-weight: 800;
    font-size: 1.2em;
    transition: 0.4s;
}
.list-items a:hover
{
    color: rgba(177, 236, 254, 1.0);
    animation: wave 2s linear infinite; 
}
 

.section1
{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 104vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    background-image: var(--background-light);
    align-items: center;
}
.section1::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: var(--gradient-color-1);
    z-index: 1000;
}
.section1 img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
#text
{
    position: absolute;
    top: 90px;
    -webkit-text-stroke: 0.1px rgba(0, 0, 0, 0.562);
    white-space: nowrap;
    font-size: 7vw;
    animation: wave 2s linear infinite; 
    color: var(--welcome-text-light);
    font-family: 'super-snack';
    z-index: 9;

}
.dark_mode #text {
    animation: wave2 2s linear infinite; /* Change animation for dark mode */
}
#icon
{
    width: 30px;
    cursor: pointer;
}
section img#juwa
{
    position: absolute;
    top: 5px;
    left: -730px;
    transform: scale(0.5);
    white-space: nowrap;
    z-index: 5;
}
section img#shu
{
    position: absolute;
    width: 1000px;
    height: 1000px;
    top: -10px;
    left: 1200px;
    transform: scale(0.45);
    white-space: nowrap;
    scale: 1.25;
    z-index: 5;
}
.scrolling-stars
{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: var(--stars-light);
    animation: scrollStars 20s linear infinite;
}
#stars1 
{
    
    left: 0; 
}

#stars2 
{
    
    left: -100%; 
}

.arrow,
.arrow2 
{
    position: absolute;
    width: 45px;
    height: 30px;
    background-color: var(--arrow-color-light); 
    opacity: 0.5;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    animation: bounce 1s infinite;
    z-index: 2;
}

.arrow 
{
    left: 50%; 
    bottom: 80px; 
}

.arrow2 
{
    left: 43%; 
    bottom: 80px; 
}


                                                                                /* SECTION 3 */
.section3
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    background: var(--gradient-color-3);
    align-items: center;
}
.section3::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
}
.section3 img#juwa2
{
    position: absolute;
    top: -330px;
    left: 1940px;
    transform: scale(1);
    white-space: nowrap;
    z-index: 5;
}
.section3 img#shu2
{
    position: absolute;
    top: -595px;
    left: -780px;
    transform: scale(0.8);
    scale: 0.67;
    white-space: nowrap;
    
    z-index: 5;
}
.movingStar
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: var(--stars-light);
    animation: scrollStars 20s linear infinite;
}
#stars3 
{
    left: 0; 
}

#stars4 
{
    left: -100%; 
}

#back-to-top-button 
{
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    background: var(--top-button-light);
    opacity: 1;
    color: var(--top-button2-light);
    font-size: 1.5em;
    z-index: 1000;
    transform: translateY(380px);
}
  
#back-to-top-button:hover 
{
    background-color: #f8e1ff;
}

#juwaText
{
    position: absolute; 
    top: 1012px;
    left: 635px;
    scale: 0.9;
}
#shuText
{
    position: absolute;
    top: 1006px;
    left: 490px;
    scale: 0.9;
    z-index: 1000;
}
                                                                        /* SECTION 2 */
.section2 
{
    
    height: calc(100vh - 8vh);
    width: 600px;
    top:0;
    left:0;
    z-index: -1;
    
}











